In [1]:
import pandas as pd
import numpy as np

In [2]:
#data user for the example
np.random.seed(42)

In [3]:
data = {
   'Name': [f'Person {i}' for i in range(1, 101)],
    'Age': np.random.randint(18, 65, size=100),
    'Email': [f'{np.random.choice(["gmail", "yahoo", "hotmail"])}@{np.random.choice(["com", "org", "net"])}' for _ in range(100)],
    'Country': [np.random.choice(["USA", "Canada", "UK", "Australia", "Germany"]) for _ in range(100)],
    'Score': np.random.randint(0, 100, size=100)
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

          Name  Age        Email    Country  Score
0     Person 1   56  hotmail@net         UK      4
1     Person 2   46  hotmail@com    Germany     67
2     Person 3   32  hotmail@net        USA      5
3     Person 4   60    gmail@net  Australia     95
4     Person 5   25    gmail@org        USA     93
..         ...  ...          ...        ...    ...
95   Person 96   24    yahoo@com  Australia     50
96   Person 97   26  hotmail@com    Germany     42
97   Person 98   41    gmail@org        USA     11
98   Person 99   18    yahoo@org    Germany     66
99  Person 100   61    yahoo@org  Australia     64

[100 rows x 5 columns]

In [6]:
df.head()

       Name  Age        Email    Country  Score
0  Person 1   56  hotmail@net         UK      4
1  Person 2   46  hotmail@com    Germany     67
2  Person 3   32  hotmail@net        USA      5
3  Person 4   60    gmail@net  Australia     95
4  Person 5   25    gmail@org        USA     93

In [10]:
df.tail()

          Name  Age        Email    Country  Score
95   Person 96   24    yahoo@com  Australia     50
96   Person 97   26  hotmail@com    Germany     42
97   Person 98   41    gmail@org        USA     11
98   Person 99   18    yahoo@org    Germany     66
99  Person 100   61    yahoo@org  Australia     64

In [2]:
print("helllo")

helllo

In [3]:
import matplotlib as plt

In [1]:
countries = ['USA', 'Bangladesh', 'India', 'China']

In [2]:
countries

['USA', 'Bangladesh', 'India', 'China']

In [3]:
countries[-1] = "Top"

In [4]:
countries

['USA', 'Bangladesh', 'India', 'Top']

In [5]:
countries[-4] = "Ujjal"

In [6]:
countries

['Ujjal', 'Bangladesh', 'India', 'Top']

In [7]:
countries[0:1]

['Ujjal']

In [8]:
countries

['Ujjal', 'Bangladesh', 'India', 'Top']

In [9]:
countries[1:4]

['Bangladesh', 'India', 'Top']

In [10]:
countries.append("kopa")

In [11]:
countries

['Ujjal', 'Bangladesh', 'India', 'Top', 'kopa']

In [14]:
countries.insert(0,"tipap")

In [15]:
countries

['tipap', 'top', 'Ujjal', 'Bangladesh', 'India', 'Top', 'kopa']

In [16]:
trip1 = ["tio","crip"]

In [17]:
countries+trip1

['tipap', 'top', 'Ujjal', 'Bangladesh', 'India', 'Top', 'kopa', 'tio', 'crip']

In [18]:
countries

['tipap', 'top', 'Ujjal', 'Bangladesh', 'India', 'Top', 'kopa']

In [21]:
countries.sort()

In [24]:
countries

['top', 'tipap', 'kopa', 'Ujjal', 'Top', 'India', 'Bangladesh']

In [27]:
countries[:]

['top', 'tipap', 'kopa', 'Ujjal', 'Top', 'India', 'Bangladesh']

In [28]:
x = 2
if x %2 == 0:
    print("hello")
else:
    print("kopa")

hello

In [37]:
for i, country in enumerate(countries):
    print(f"{i+1} = Countries name is {country}  and length is: {len(country)}")

1 = Countries name is top  and length is: 3
2 = Countries name is tipap  and length is: 5
3 = Countries name is kopa  and length is: 4
4 = Countries name is Ujjal  and length is: 5
5 = Countries name is Top  and length is: 3
6 = Countries name is India  and length is: 5
7 = Countries name is Bangladesh  and length is: 10

In [38]:
person = {
    "name": "Alice",
    "age": 25,
    "is_student": True,
    "skills": ["Python", "JavaScript"]
}

In [47]:
for key, value in person.items():
    print(f"The key is: {key} and the value is: {value}")

The key is: name and the value is: Alice
The key is: age and the value is: 25
The key is: is_student and the value is: True
The key is: skills and the value is: ['Python', 'JavaScript']

In [62]:
def fibonacci(nums):
    print(nums)
    if(nums==0):
        return 0
    elif nums==1:
        return 1
    else:
        return (fibonacci(nums-1)+fibonacci(nums-2))

In [63]:
print(fibonacci(4))

4
3
2
1
0
1
2
1
0
3

In [65]:
import os

In [66]:
os.get_exec_path()

['C:\\Users\\ujjal\\anaconda3',
 'C:\\Users\\ujjal\\anaconda3\\Library\\mingw-w64\\bin',
 'C:\\Users\\ujjal\\anaconda3\\Library\\usr\\bin',
 'C:\\Users\\ujjal\\anaconda3\\Library\\bin',
 'C:\\Users\\ujjal\\anaconda3\\Scripts',
 'C:\\WINDOWS\\system32',
 'C:\\WINDOWS',
 'C:\\WINDOWS\\System32\\Wbem',
 'C:\\WINDOWS\\System32\\WindowsPowerShell\\v1.0\\',
 'C:\\WINDOWS\\System32\\OpenSSH\\',
 'C:\\Program Files\\Git\\cmd',
 'C:\\laragon\\bin\\php\\php-8.2.22-nts-Win32-vs16-x64',
 'C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64',
 'C:\\Users\\ujjal\\AppData\\Roaming\\nvm',
 'C:\\Program Files\\nodejs',
 'C:\\Program Files\\Docker\\Docker\\resources\\bin',
 'C:\\Program Files\\dotnet\\',
 'C:\\laragon\\bin',
 'C:\\laragon\\bin\\apache\\httpd-2.4.54-win64-VS16\\bin',
 'C:\\laragon\\bin\\composer',
 'C:\\laragon\\bin\\git\\bin',
 'C:\\laragon\\bin\\git\\cmd',
 'C:\\laragon\\bin\\git\\mingw64\\bin',
 'C:\\laragon\\bin\\git\\usr\\bin',
 'C:\\laragon\\bin\\php\\php-8.2.22-nts-Win32-vs16-x64',
 'C:\\laragon\\bin\\php\\php-8.1.10-Win32-vs16-x64',
 'C:\\laragon\\bin\\laragon\\utils',
 'C:\\laragon\\bin\\mysql\\mysql-8.0.30-winx64\\bin',
 'C:\\laragon\\bin\\nginx\\nginx-1.22.0',
 'C:\\laragon\\bin\\ngrok',
 'C:\\laragon\\bin\\notepad++',
 'C:\\laragon\\bin\\python\\python-3.10',
 'C:\\laragon\\bin\\python\\python-3.10\\Scripts',
 'C:\\laragon\\bin\\redis\\redis-x64-5.0.14.1',
 'C:\\laragon\\bin\\telnet',
 'C:\\laragon\\usr\\bin',
 'C:\\Users\\ujjal\\AppData\\Local\\Yarn\\config\\global\\node_modules\\.bin',
 'C:\\Users\\ujjal\\AppData\\Roaming\\Composer\\vendor\\bin',
 'C:\\Users\\ujjal\\AppData\\Roaming\\npm',
 'C:\\Users\\ujjal\\AppData\\Local\\Microsoft\\WindowsApps',
 'C:\\Program Files\\JetBrains\\WebStorm 2024.1.5\\bin',
 'C:\\Program Files\\JetBrains\\PhpStorm 2024.1.4\\bin',
 'C:\\Users\\ujjal\\AppData\\Local\\Programs\\Microsoft VS Code\\bin',
 'C:\\Users\\ujjal\\AppData\\Roaming\\nvm',
 'C:\\Program Files\\nodejs',
 'C:\\Program Files\\JetBrains\\PyCharm 2024.2.3\\bin',
 '',
 'C:\\Users\\ujjal\\AppData\\Local\\Microsoft\\WindowsApps',
 'C:\\Users\\ujjal\\.dotnet\\tools']

In [67]:
os.getcwd()

'C:\\Users\\ujjal\\DataScience'